In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

df=pd.read_csv("adult.csv")
print(df.head())

   age workclass  fnlwgt     education  education.num marital.status  \
0   90         ?   77053       HS-grad              9        Widowed
1   82   Private  132870       HS-grad              9        Widowed
2   66         ?  186061  Some-college             10        Widowed
3   54   Private  140359       7th-8th              4       Divorced
4   41   Private  264663  Some-college             10      Separated

          occupation   relationship   race     sex  capital.gain  \
0                  ?  Not-in-family  White  Female             0
1    Exec-managerial  Not-in-family  White  Female             0
2                  ?      Unmarried  Black  Female             0
3  Machine-op-inspct      Unmarried  White  Female             0
4     Prof-specialty      Own-child  White  Female             0

   capital.loss  hours.per.week native.country income
0          4356              40  United-States  <=50K
1          4356              18  United-States  <=50K
2          4356              40  United-States  <=50K
3          3900              40  United-States  <=50K
4          3900              40  United-States  <=50K

In [ ]:
#for converting String values to float from the dataset
from sklearn.preprocessing import LabelEncoder
for col in df.columns:
    if df[col].dtype == "object":
        le=LabelEncoder()
        df[col]=le.fit_transform(df[col])

In [ ]:
X=df.drop("income",axis=1)
y=df["income"]

In [ ]:
print("\nSummary: ",X.describe())
print("\nMissing Values: ",X.isnull().sum())
print("\nInformation: ",X.info())
print("\nDuplicate values: ",X.duplicated().sum())
print("\nSize of the dataset: ",X.size)

Summary:                  age     workclass        fnlwgt     education  education.num  \
count  32561.000000  32561.000000  3.256100e+04  32561.000000   32561.000000
mean      38.581647      3.868892  1.897784e+05     10.298210      10.080679
std       13.640433      1.455960  1.055500e+05      3.870264       2.572720
min       17.000000      0.000000  1.228500e+04      0.000000       1.000000
25%       28.000000      4.000000  1.178270e+05      9.000000       9.000000
50%       37.000000      4.000000  1.783560e+05     11.000000      10.000000
75%       48.000000      4.000000  2.370510e+05     12.000000      12.000000
max       90.000000      8.000000  1.484705e+06     15.000000      16.000000

       marital.status    occupation  relationship          race           sex  \
count    32561.000000  32561.000000  32561.000000  32561.000000  32561.000000
mean         2.611836      6.572740      1.446362      3.665858      0.669205
std          1.506222      4.228857      1.606771      0.848806      0.470506
min          0.000000      0.000000      0.000000      0.000000      0.000000
25%          2.000000      3.000000      0.000000      4.000000      0.000000
50%          2.000000      7.000000      1.000000      4.000000      1.000000
75%          4.000000     10.000000      3.000000      4.000000      1.000000
max          6.000000     14.000000      5.000000      4.000000      1.000000

       capital.gain  capital.loss  hours.per.week  native.country
count  32561.000000  32561.000000    32561.000000    32561.000000
mean    1077.648844     87.303830       40.437456       36.718866
std     7385.292085    402.960219       12.347429        7.823782
min        0.000000      0.000000        1.000000        0.000000
25%        0.000000      0.000000       40.000000       39.000000
50%        0.000000      0.000000       40.000000       39.000000
75%        0.000000      0.000000       45.000000       39.000000
max    99999.000000   4356.000000       99.000000       41.000000

Missing Values:  age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  int64
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  int64
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  int64
 6   occupation      32561 non-null  int64
 7   relationship    32561 non-null  int64
 8   race            32561 non-null  int64
 9   sex             32561 non-null  int64
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  int64
dtypes: int64(14)
memory usage: 3.5 MB

Information:  None

Duplicate values:  25

Size of the dataset:  455854

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)

print("Accuracy: ",accuracy_score(y_test, y_pred))

Accuracy:  0.7945647167204053